

*{margin:0; padding:0;}

ul, li, ol{list-style:none; margin:0; padding:0;}

    #wrap{
        width:100vw; height:100vh;
    }


@media(min-width:1000px){

    #logo{
        position:absolute; right:3%; top:3%;
    }

    #logo_menu{
        display:none;
    }
    .menu_home{
        padding-right:5%; padding-left:1%;
        font-size:1.3vw;
        display:inline-block;
        cursor:pointer;
    }
        .menu_home::after{
            display:block;
            content:'';
            border-bottom: 2px solid black;
            transition:all 0.35s ease;
            transform:scaleX(0); transform-origin: 0% 50%;
        }
            .menu_home:hover::after{
                transform:scaleX(1)
            }
    
header{
    width:100%; height:calc(100vh - 90vh);
}

    .small{
        height:calc(100vh - 90vh);
        display:flex; align-items: center; justify-content: flex-start;
        font-family: 'TmoneyRoundWindRegular'; font-weight: bold;
        margin-left:3%;
    }        
        .small a{
            text-decoration: none;
            padding-right:5%;
            color:black;
            font-size:1.3vw;
            display:inline-block;
            cursor:pointer;
        }
            .small a::after{
                display:block;
                content:'';
                border-bottom: 2px solid black;
                transform: scaleX(0);
                transform-origin: 0% 50%;
                transition:all 0.35s ease;
            }
                .small a:hover:after{
                    transform:scaleX(1); 
                }
                    .small_menu{
                        width:100%;
                        display:block;
                    }
    
                    .small_menu a{
                        display:inline-block;
                    }
    
    #overlay1,
    #overlay2,
    #overlay3,
    #overlay4{
        display:none;
        transition:all 1s ease;
        width:100%;
        height:calc(100vh - 10vh); 
        position:relative; bottom:0; left:0; z-index:55;
        backdrop-filter: blur(5px);
    }
        #overlay1 h1,
        #overlay2 h1,
        #overlay3 h1,
        #overlay4 h1{
            font-size:5vw; font-family: 'TmoneyRoundWindRegular';
            padding-left:5%;
        }
            .nav1 a,
            .nav2 a,
            .nav3 a,
            .nav4 a{
                font-family: 'TmoneyRoundWindRegular'; font-size:3.5vw;
                color:black;
                padding:1% 0 1% 35%;
                text-decoration: none;
                display:inline-block;
            }
                .nav1 a::after,
                .nav2 a::after,
                .nav3 a::after,
                .nav4 a::after{
                    display:block;
                    content: '';
                    border-bottom:4px solid black;
                    transform-origin: 0% 50%; transform:scaleX(0);
                    transition:all 0.35s ease;
                }
                    .nav1 a:hover::after,
                    .nav2 a:hover::after,
                    .nav3 a:hover::after,
                    .nav4 a:hover::after{
                        transform:scaleX(1)
                    }
                        .nav4 a{
                            font-family: 'TmoneyRoundWindRegular'; font-size:2vw; font-weight:bold;
                            color:black;
                            text-decoration: none;
                            padding:1% 0 1% 35%;
                        }
                        .nav4 li:nth-of-type(1){
                            padding-top:1.5%;
                        }
                        .nav4 li{
                            height:6vh;
                        }
                            .nav1 li:nth-of-type(1),
                            .nav2 li:nth-of-type(1),
                            .nav3 li:nth-of-type(1){
                                padding-top:3%;
                            }
                                .nav1 li,
                                .nav2 li,
                                .nav3 li{
                                    height:10vh;
                                }
                                    #line{
                                        width:90vw; height:0.3vh; 
                                        background-color:black;
                                        margin:0 auto; margin-top:1%;
                                    }
                                    #line2{
                                        width:60vw; height:0.3vh;
                                        background-color:black;
                                        position:absolute; right:5%; bottom:15%;
                                    }
    
                                        #can1,
                                        #can2,
                                        #can3,
                                        #can4{
                                            width:3vw; height:5vh;
                                            position:absolute; right:5%; top:0;
                                            cursor:pointer;
                                            transition:1s;
                                        }
                                        #cle1{
                                            display:none;
                                        }
}

@media(min-width:600px) and (max-width:999px){
    .sl{
        display:flex; justify-content: space-between;
    }

    #logo_menu{
        cursor: pointer;
    }

    #logo{
        position:absolute;
        right:3%;
        width:10vw;
    }

    header{
        width:100%;
    }

    .small{
        width:100%;
        font-family: 'TmoneyRoundWindRegular'; font-weight: bold;
        display:none;
    }        
        .small a{
            text-decoration: none;
            color:black;
            font-size:2.5vw;
            display:inline-block;
            cursor:pointer;
        }
            .small a::after{
                display:block;
                content:'';
                border-bottom: 2px solid black;
                transform: scaleX(0);
                transform-origin: 0% 50%;
                transition:all 0.35s ease;
            }
                .small a:hover:after{
                    transform:scaleX(0.1); 
                }
                    .small_menu{
                        width:100%; height:100%;
                        display:flex; flex-flow:column; justify-content: center;
                        position:absolute; z-index:35;
                        background-color: #e0e1e6;
                    }
    
                    .small_menu a{
                        display:inline-block;
                        padding:5%;
                    }
                    .menu_home{
                        padding-right:5%; padding-left:1%;
                        font-size:2vw;
                        display:inline-block;
                        cursor:pointer;
                    }
                        .menu_home::after{
                            display:block;
                            content:'';
                            border-bottom: 2px solid black;
                            transition:all 0.35s ease;
                            transform:scaleX(0); transform-origin: 0% 50%;
                        }
                            .menu_home:hover::after{
                                transform:scaleX(1)
                            }
    #overlay1,
    #overlay2,
    #overlay3,
    #overlay4{
        display:none;
        transition:all 1s ease;
        width:100%;
        height:100%; 
        position:relative; bottom:0; left:0; z-index:55; top:5%;
        backdrop-filter: blur(5px); background:transparent;
    }
        #overlay1 h1,
        #overlay2 h1,
        #overlay3 h1,
        #overlay4 h1{
            font-size:5vw; font-family: 'TmoneyRoundWindRegular';
            padding-left:5%;
        }
            .nav1 a,
            .nav2 a,
            .nav3 a,
            .nav4 a{
                font-family: 'TmoneyRoundWindRegular'; font-size:3.5vw;
                color:black;
                padding:1% 0 1% 35%;
                text-decoration: none;
                display:inline-block;
            }
                .nav1 a::after,
                .nav2 a::after,
                .nav3 a::after,
                .nav4 a::after{
                    display:block;
                    content: '';
                    border-bottom:4px solid black;
                    transform-origin: 0% 50%; transform:scaleX(0);
                    transition:all 0.35s ease;
                }
                    .nav1 a:hover::after,
                    .nav2 a:hover::after,
                    .nav3 a:hover::after,
                    .nav4 a:hover::after{
                        transform:scaleX(1)
                    }
                        .nav4 a{
                            font-family: 'TmoneyRoundWindRegular'; font-size:2vw; font-weight:bold;
                            color:black;
                            text-decoration: none;
                            padding:1% 0 1% 35%;
                        }
                        .nav4 li:nth-of-type(1){
                            padding-top:1.5%;
                        }
                        .nav4 li{
                            height:7vh;
                        }
                            .nav1 li:nth-of-type(1),
                            .nav2 li:nth-of-type(1),
                            .nav3 li:nth-of-type(1){
                                padding-top:3%;
                            }
                                .nav1 li,
                                .nav2 li,
                                .nav3 li{
                                    height:10vh;
                                }
                                    #underline{
                                        width:90vw; height:0.3vh; 
                                        background-color:black;
                                        margin:0 auto; margin-top:1%;
                                    }
                                    #underline2{
                                        width:60vw; height:0.3vh;
                                        background-color:black;
                                        position:absolute; right:5%; bottom:15%;
                                    }
    
                                        #can1,
                                        #can2,
                                        #can3,
                                        #can4{
                                            width:4vw; height:5vh;
                                            position:absolute; right:5%; top:0;
                                            cursor:pointer;
                                            transition:1s;
                                        }
}

@media(max-width:599px){
    .sl{
        display:flex; justify-content: space-between;
    }

    #logo_menu{
        cursor: pointer;
    }

    #logo{
        width:20vw;
        position:absolute;
        right:3%;
    }

    header{
        width:100%;
    }

    .small{
        width:100%;
        font-family: 'TmoneyRoundWindRegular'; font-weight: bold;
        display:none;
    }        
        .small a{
            text-decoration: none;
            color:black;
            font-size:4vw;
            display:inline-block;
            cursor:pointer;
        }
            .small a::after{
                display:block;
                content:'';
                border-bottom: 2px solid black;
                transform: scaleX(0);
                transform-origin: 0% 50%;
                transition:all 0.35s ease;
            }
                .small a:hover:after{
                    transform:scaleX(0.15); 
                }
                    .small_menu{
                        width:100%; height:100%;
                        display:flex; flex-flow:column; justify-content: center;
                        position:absolute; z-index:35;
                        background-color: #e0e1e6;
                    }
    
                    .small_menu a{
                        display:inline-block;
                        padding:5%;
                    }
                    .menu_home{
                        padding-right:5%; padding-left:1%;
                        font-size:2vw;
                        display:inline-block;
                        cursor:pointer;
                    }
                        .menu_home::after{
                            display:block;
                            content:'';
                            border-bottom: 2px solid black;
                            transition:all 0.35s ease;
                            transform:scaleX(0); transform-origin: 0% 50%;
                        }
                            .menu_home:hover::after{
                                transform:scaleX(1)
                            }
    #overlay1,
    #overlay2,
    #overlay3,
    #overlay4{
        display:none;
        transition:all 1s ease;
        width:100%;
        height:100%; 
        position:relative; bottom:0; left:0; z-index:55; top:5%;
        backdrop-filter: blur(5px); background:transparent;
    }
        #overlay1 h1,
        #overlay2 h1,
        #overlay3 h1,
        #overlay4 h1{
            font-size:5vw; font-family: 'TmoneyRoundWindRegular';
            padding-left:5%;
        }
            .nav1 a,
            .nav2 a,
            .nav3 a,
            .nav4 a{
                font-family: 'TmoneyRoundWindRegular'; font-size:3.5vw;
                color:black;
                padding:1% 0 1% 35%;
                text-decoration: none;
                display:inline-block;
            }
                .nav1 a::after,
                .nav2 a::after,
                .nav3 a::after,
                .nav4 a::after{
                    display:block;
                    content: '';
                    border-bottom:4px solid black;
                    transform-origin: 0% 50%; transform:scaleX(0);
                    transition:all 0.35s ease;
                }
                    .nav1 a:hover::after,
                    .nav2 a:hover::after,
                    .nav3 a:hover::after,
                    .nav4 a:hover::after{
                        transform:scaleX(1)
                    }
                        .nav4 a{
                            font-family: 'TmoneyRoundWindRegular'; font-size:3vw; font-weight:bold;
                            color:black;
                            text-decoration: none;
                            padding:1% 0 1% 35%;
                        }
                        .nav4 li:nth-of-type(1){
                            padding-top:1.5%;
                        }
                        .nav4 li{
                            height:7vh;
                        }
                            .nav1 li:nth-of-type(1),
                            .nav2 li:nth-of-type(1),
                            .nav3 li:nth-of-type(1){
                                padding-top:3%;
                            }
                                .nav1 li,
                                .nav2 li,
                                .nav3 li{
                                    height:10vh;
                                }
                                    #underline{
                                        width:90vw; height:0.3vh; 
                                        background-color:black;
                                        margin:0 auto; margin-top:1%;
                                    }
                                    #underline2{
                                        width:60vw; height:0.3vh;
                                        background-color:black;
                                        position:absolute; right:5%; bottom:15%;
                                    }
    
                                        #can1,
                                        #can2,
                                        #can3,
                                        #can4{
                                            width:5vw; height:4vh;
                                            position:absolute; right:5%; top:0;
                                            cursor:pointer;
                                            transition:1s;
                                        }
}