

html, body{
    overflow-y:auto;
    background-color:#e0e1e6;
}

header{
    position:absolute; z-index:5;
}

#slider{
    width:100%; height:60vh;
    position:relative;
}

    #slider_image{
        width:100%; height:60vh;
        background-repeat: no-repeat; background-size:100% 100%; background-attachment: fixed; background-position:top;
    }

.section{
    width:100vw; height:auto;
}

.one_section{
    width:16vw; height:auto;
    background-color:#c3c5c4;
}

#one{
    height:auto;
    display:flex; justify-content: center;
    margin-bottom:10%;
    position:sticky; top:0%; left:0%;
}
    #one input{
        width: 15vw; height: 5vh;
        margin-right:3%;
    }

    #one img{
        width:2vw; height: 5vh;
        cursor:pointer;
    }

#two{
    height:auto;
}

.two_section{
    width:100%; height:auto;
    background-color:lightblue;
}

.two_section img{
    width:18vw; height:30vh;
    margin-bottom:5%;
}

#ts1{
    float:left;
}




